<h2>Clientes</h2>
<hr>

<div class="form-inline">
  <div class="for-group mb-2 form-container">
    <label class="me-1">Filtro</label>
    <input
     type="text"
     class="form-control mr-2"
     placeholder="buscar"
     [(ngModel)]="Nome"
    >
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr class="table-dark">
      <th>
        <button class="btn btn-outline-light btn-sm" (click)="alterarEstadoImagem()">
          <i class="{{!exibirImagem ? 'bi bi-eye-slash' : 'bi bi-eye'}}"></i>
          {{!exibirImagem ? 'ocultar' : 'mostrar'}}
        </button>
      </th>
      <th>#</th>
      <th>Nome</th>
      <th>Nascimento</th>
      <th>E-Mail</th>
      <th>Whatsapp</th>
      <th>Celular</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="clientesFiltrados && clientesFiltrados.length > 0">
    <tr *ngFor="let cliente of clientesFiltrados">
      <td>
        <img *ngIf="cliente.foto" [collapse]="exibirImagem" [isAnimated]="true" src="/assets/{{cliente.foto}}"
          alt="foto de {{cliente.nome}}" [style.width.px]="widthImg">
      </td>
      <td>{{cliente.codigo}}</td>
      <td>{{cliente.nome}}</td>
      <td>{{cliente.nascimento | DateTimeFormat }}</td>
      <td>{{cliente.email}}</td>
      <td>{{cliente.whatsapp}}</td>
      <td>{{cliente.celular}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-1"
        tooltip="Editar" container="body">
          <i class="bi bi-pencil-square"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm"
          tooltip="Excluir">
          <i class="bi bi-trash3"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="clientesFiltrados.length === 0">
    <tr>
      <td colspan="6" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
