.input{
  margin-bottom: 1rem;
  height: 50px;
  border-radius: 0.5rem;
  background-color: var(--white);
  color: var(--rosa-900); 
  padding: 1rem;
  border: 1px solid var(--rosa-900);
}

.input::placeholder{
  color: rgba(255, 255, 255,0.8);
}