@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root{
  --primary: #038fa8;
  --secondary: #d2e9ef;

  --text-menu: #fff;

  --body: #fff;
  --text-body: #4b4b4b;

}

html, body{
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--body);
}

