<form>
    <div class="dados-pessoais">
        <h3>Dados Pessoais</h3>
        <div class="form-group">
            <label for="titulo">Nome:</label>
            <input type="text" placeholder="Coloque um título" required />
        </div>
        <div class="form-group">
            <label for="titulo">Nascimento:</label>
            <input type="text" placeholder="Coloque um título" required />
        </div>
        <div class="form-group">
            <label for="titulo">CPF/CNPJ:</label>
            <input type="text" placeholder="Coloque um título" required />
        </div>
        <div class="form-group">
            <label for="titulo">Endereço:</label>
            <input type="text" placeholder="Coloque um título" required />
        </div>
        <div class="form-group">
            <label for="titulo">Cidade:</label>
            <input type="text" placeholder="Coloque um título" required />
        </div>
        <div class="form-group">
            <label for="titulo">UF:</label>
            <input type="text" placeholder="Coloque um título" required />
        </div>
        <div class="form-group">
            <label for="titulo">CEP:</label>
            <input type="text" placeholder="Coloque um título" required />
        </div>
        <div class="form-group">
            <label for="titulo">Telefone:</label>
            <input type="text" placeholder="Coloque um título" required />
        </div>
        <div class="form-group">
            <label for="titulo">E-mail:</label>
            <input type="text" placeholder="Coloque um título" required />
        </div>
        <div class="form-group">
            <label for="titulo">Profissão:</label>
            <input type="text" placeholder="Coloque um título" required />
        </div>
        <div class="form-group">
            <label for="titulo">Estagran:</label>
            <input type="text" placeholder="Coloque um título" required />
        </div>
        <div class="form-group">
            <label for="titulo">Estado Cívil:</label>
            <select name="estadoCivil" id="estadoCivil">
                <option value="1">Solteiro</option>
                <option value="2">Casado</option>
                <option value="3">Divorciado</option>
                <option value="4">União Estável</option>
            </select>
        </div>
        <div class="form-group">
            <label for="titulo">Número Filhos:</label>
            <input type="number" value="0" />
        </div>
    </div>
    <div class="bloco">
        <div class="conheceu-por">
            <h3>Conheceu por:</h3>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Facebook:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Instagran:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Internet:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Indicação:</label>
            </div>
            <div class="form-group">
                <label for="titulo">Quem:</label>
                <input type="text" />
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Outros:</label>
            </div>
            <div class="form-group">
                <label for="titulo">Qual:</label>
                <input type="text" />
            </div>
        </div>
        <div class="tratamento_estetico">
            <h3>Tratamento Estético</h3>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Ja fez tratamento estético:</label>
            </div>
            <div class="form-group">
                <label for="titulo">Qual:</label>
                <input type="text" />
            </div>
        </div>
        <div class="area-interesse">
            <h3>Área de Interesse</h3>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Esculpe detox:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Esculpe 21:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Spa Facial:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Spa Corporal:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Aplicação Ativo:</label>
            </div>
        </div>
    </div>
    <div class="bloco">
        <div class="habitos-alimentares">
            <h3>Hábitos Alimentares</h3>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Fritura:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Fruta:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Farinha Branca:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Semente:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Leite:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Legumes:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Derivados do leite:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Verdura:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Açúcar:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Farinha Integral:</label>
            </div>
        </div>
        <div class="liquido">
            <h3>Líquido</h3>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Refrigerante:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Bebida Alcóolica:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Suco Industrializado:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Chá:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Suco Natural:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Chimarrão:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Água:</label>
            </div>
            <div class="form-group">
                <label for="titulo">Quantidade Diária:</label>
                <input type="text" />
            </div>
        </div>
        <div class="atividade-fisica">
            <h3>Atividade Física</h3>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Pratica regularmente:</label>
            </div>
            <div class="form-group">
                <label for="titulo">Quantas vezes por semana:</label>
                <input type="text" />
            </div>
            <div class="form-group">
                <label for="titulo">Pratica regularmente quais atividades:</label>
                <input type="text" />
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Não pratica:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Nunca praticou:</label>
            </div>
        </div>
    </div>
    <div class="bloco">
        <div class="sono">
            <h3>Sono</h3>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">menos de 6 horas:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">6 horas:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">8 horas ou mais:</label>
            </div>
        </div>
        <div class="funcionamento-intestino">
            <h3>Funcionamento do Intestino</h3>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Todos os dias:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">3 ou mais smanas:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">1 semana:</label>
            </div>
        </div>
        <div class="retencao-liquido">
            <h3>Retenção de líquido:</h3>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">2 dias:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">mais de 2 dias</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">mais de 5 dias</label>
            </div>
        </div>
        <div class="metodo-contraceptivo">
            <h3>Método Contraceptivo</h3>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Nenhum</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Pílula</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Menopausa</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Adesivo</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Implante</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Dio</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Cirurgia</label>
            </div>
        </div>
    </div>
    <div class="bloco">
        <div class="acompanhamento">
            <h3>Acompanhamento Contínuo</h3>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Cardiologia</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Dermatologia</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Nutrologo</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Psicólogo</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Psiquiátra</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Coach</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Ginecologista</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Personal Trainer</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Traumatologista</label>
            </div>
            <div class="form-group">
                <input type="checkbox" />
                <label for="titulo">Nutricionista</label>
            </div>
        </div>
        <div class="pesoideal">
            <h3>Medicamento/Pesagem</h3>
            <div class="form-group">
                <label for="titulo">Medicamento de uso contínuo</label>
                <input type="text" />
            </div>
            <div class="form-group">
                <label for="titulo">Quanto tempo peso ideial</label>
                <input type="text" />
            </div>
            <div class="form-group">
                <label for="titulo">Peso atual</label>
                <input type="text" />
            </div>
            <div class="form-group">
                <label for="titulo">Peso ideal</label>
                <input type="text" />
            </div>
        </div>
    </div>
    <div class="botao">
      <input type="submit" value="Salvar" />
    </div>
</form>
