.conheceu-por {}

.conheceu-por>h3 {
    display: block;
}

.conheceu-por .form-group,
.tratamento_estetico .form-group,
.area-interesse .form-group,
.habitos-alimentares .form-group,
.liquido .form-group,
.atividade-fisica .form-group,
.sono .form-group,
.funcionamento-intestino .form-group,
.retencao-liquido .form-group,
.metodo-contraceptivo .form-group,
.acompanhamento .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8px;
}

.form-group label {
    padding: 0 5px;
}

.bloco {
    display: flex;
    justify-content: space-between;
}

.botao {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 2.2em;
}
