<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
  </mat-drawer>
  <button mat-icon-button class="example-icon"
  aria-label="Example icon-button with menu icon"
  mat-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <app-body></app-body>

</mat-drawer-container>
