<h1 mat-dialog-title>Novo Cliente</h1>
<div mat-dialog-content>
  <form class="form-group" [formGroup]="formGroup">

    <mat-form-field class="full-width">
      <mat-label>Codigo:</mat-label>
      <input matInput formControlName="codigo" name="codigo">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>numeroProntuario:</mat-label>
      <input matInput formControlName="numeroProntuario" name="numeroProntuario">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>numeroCartaoFidelidade:</mat-label>
      <input matInput formControlName="numeroCartaoFidelidade" name="numeroCartaoFidelidade">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>nome:</mat-label>
      <input matInput formControlName="nome" name="nome">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>nascimento:</mat-label>
      <input matInput formControlName="nascimento" name="nascimento">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>codigoTipoPessoa:</mat-label>
      <input matInput formControlName="codigoTipoPessoa" name="codigoTipoPessoa">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>cpfcnpj:</mat-label>
      <input matInput formControlName="cpfcnpj" name="cpfcnpj">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>orgaoEmissor:</mat-label>
      <input matInput formControlName="orgaoEmissor" name="orgaoEmissor">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>inscricaoMunicipal:</mat-label>
      <input matInput formControlName="inscricaoMunicipal" name="inscricaoMunicipal">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>whatsapp:</mat-label>
      <input matInput formControlName="whatsapp" name="whatsapp">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>email:</mat-label>
      <input matInput formControlName="email" name="email" placeholder="ana@example.com">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>celular:</mat-label>
      <input matInput formControlName="celular" name="celular">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>foto:</mat-label>
      <input matInput formControlName="foto" name="foto">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>cep:</mat-label>
      <input matInput formControlName="cep" name="cep">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>codigoTipoEndereco:</mat-label>
      <input matInput formControlName="codigoTipoEndereco" name="codigoTipoEndereco">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>endereco:</mat-label>
      <input matInput formControlName="endereco" name="endereco">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>numero:</mat-label>
      <input matInput formControlName="numero" name="numero">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>bairro:</mat-label>
      <input matInput formControlName="bairro" name="bairro">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>complemento:</mat-label>
      <input matInput formControlName="complemento" name="complemento">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>codigoUf:</mat-label>
      <input matInput formControlName="codigoUf" name="codigoUf">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>cidade:</mat-label>
      <input matInput formControlName="cidade" name="cidade">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>observacao:</mat-label>
      <input matInput formControlName="observacao" name="observacao">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>origemIndicacao:</mat-label>
      <input matInput formControlName="origemIndicacao" name="origemIndicacao">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>origemParcerias:</mat-label>
      <input matInput formControlName="origemParcerias" name="origemParcerias">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>origemProfissional:</mat-label>
      <input matInput formControlName="origemProfissional" name="origemProfissional">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>origemCliente:</mat-label>
      <input matInput formControlName="origemCliente" name="origemCliente">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>origemCampanha:</mat-label>
      <input matInput formControlName="origemCampanha" name="origemCampanha">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>codigoEstabelecimentoOrigem:</mat-label>
      <input matInput formControlName="codigoEstabelecimentoOrigem" name="codigoEstabelecimentoOrigem">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>origemMarketing:</mat-label>
      <input matInput formControlName="origemMarketing" name="origemMarketing">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>naturalidade:</mat-label>
      <input matInput formControlName="naturalidade" name="naturalidade">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>nomePai:</mat-label>
      <input matInput formControlName="nomePai" name="nomePai">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>nomeMae:</mat-label>
      <input matInput formControlName="nomeMae" name="nomeMae">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>profissao:</mat-label>
      <input matInput formControlName="profissao" name="profissao">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>localTrabalho:</mat-label>
      <input matInput formControlName="localTrabalho" name="localTrabalho">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>codigoSexo:</mat-label>
      <input matInput formControlName="codigoSexo" name="codigoSexo">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>codigoEstadoCivil:</mat-label>
      <input matInput formControlName="codigoEstadoCivil" name="codigoEstadoCivil">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>codigoTipoSnaguineo:</mat-label>
      <input matInput formControlName="codigoTipoSnaguineo" name="codigoTipoSnaguineo">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>codigoTipoCliente:</mat-label>
      <input matInput formControlName="codigoTipoCliente" name="codigoTipoCliente">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>dataCadastro:</mat-label>
      <input matInput formControlName="dataCadastro" name="dataCadastro">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>dataAtualizacao:</mat-label>
      <input matInput formControlName="dataAtualizacao" name="dataAtualizacao">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>ativo:</mat-label>
      <input matInput formControlName="ativo" name="ativo">
    </mat-form-field>

  </form>
  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="Salvar()">Salvar</button>
  </div>
</div>
