<h1 mat-dialog-title>Novo Cliente</h1>
<div mat-dialog-content>
  <form class="form-group" [formGroup]="formCliente" (ngSubmit)="onFormSubmit()">

    <div>

      <mat-form-field appearance="fill" style="margin-top: 5px;">
        <mat-label>Codigo</mat-label>
        <input matInput placeholder="Código" formControlName="codigo" name="codigo" readonly>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nº prontuário</mat-label>
        <input matInput placeholder="Número do prontuário" formControlName="numeroProntuario" name="numeroProntuario">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nº Cartão Fidelidade</mat-label>
        <input matInput placeholder="Número do Cartao Fidelidade" formControlName="numeroCartaoFidelidade"
          name="numeroCartaoFidelidade">
      </mat-form-field>

    </div>

    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Informe o nome da cliente" formControlName="nome" name="nome">
    </mat-form-field>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Data de Nascimento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="nascimento">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Tipo Pessoa</mat-label>
        <mat-select formControlName="codigoTipoPessoa" name="codigoTipoPessoa">
          <mat-option *ngFor="let item of listaTipoPessoa" [value]="item.codigo">{{item.descricao}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>cpfcnpj</mat-label>
        <input matInput placeholder="Cpf/Cnpj" formControlName="cpfcnpj" name="cpfcnpj">
      </mat-form-field>

    </div>

    <div class="row">

      <mat-form-field appearance="outline" class="g-col-4">
        <mat-label>IM</mat-label>
        <input matInput placeholder="IM" formControlName="inscricaoMunicipal" name="inscricaoMunicipal">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>IE</mat-label>
        <input matInput placeholder="IE" formControlName="inscricaoEstadual" name="inscricaoEstadual">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>email</mat-label>
        <input matInput placeholder="Ex: email@empresa.com.br" formControlName="email" name="email">
      </mat-form-field>

    </div>

    <div class="row">

      <mat-form-field appearance="outline">
        <mat-label>whatsapp</mat-label>
        <input matInput placeholder="Whatsapp" formControlName="whatsapp" name="whatsapp">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>celular</mat-label>
        <input matInput placeholder="Nº celular com ddd" formControlName="celular" name="celular">
      </mat-form-field>

    </div>

    <mat-form-field appearance="outline">
      <mat-label>foto</mat-label>
      <input matInput placeholder="Foto" formControlName="foto" name="foto">
    </mat-form-field>

    <div class="row">

      <mat-form-field appearance="outline">
        <mat-label>cep</mat-label>
        <input matInput type="number" placeholder="CEP" formControlName="cep" name="cep">
        <mat-hint>Apenas números</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-one">
        <mat-label>Tipo de Endereço</mat-label>
        <mat-select formControlName="codigoTipoEndereco" name="codigoTipoEndereco">
          <mat-option *ngFor="let item of listTipoEndereco" [value]="item.codigo">{{item.descricao}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>endereco</mat-label>
        <input matInput type="text" placeholder="Endereço" formControlName="endereco" name="endereco">
      </mat-form-field>

    </div>

    <mat-form-field appearance="outline">
      <mat-label>numero</mat-label>
      <input matInput type="number" placeholder="Número" formControlName="numero" name="numero">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>bairro</mat-label>
      <input matInput placeholder="Bairro" formControlName="bairro" name="bairro">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>complemento</mat-label>
      <input matInput placeholder="Complemento" formControlName="complemento" name="complemento">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>codigoUf</mat-label>
      <input matInput placeholder="Código UF" formControlName="codigoUf" name="codigoUf">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>cidade</mat-label>
      <input matInput placeholder="Cpf/Cnpj" formControlName="cidade" name="cidade">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>observacao</mat-label>
      <input matInput placeholder="Observação" formControlName="observacao" name="observacao">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>origemIndicacao</mat-label>
      <input matInput placeholder="Origem da indicação" formControlName="origemIndicacao" name="origemIndicacao">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>origemParcerias</mat-label>
      <input matInput placeholder="Origem parcerias" formControlName="origemParcerias" name="origemParcerias">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>origemProfissional</mat-label>
      <input matInput placeholder="Origem profissional" formControlName="origemProfissional" name="origemProfissional">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>origemCliente</mat-label>
      <input matInput placeholder="Origem do Cliente" formControlName="origemCliente" name="origemCliente">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>origemCampanha</mat-label>
      <input matInput placeholder="Origem Campanha" formControlName="origemCampanha" name="origemCampanha">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>codigoEstabelecimentoOrigem</mat-label>
      <input matInput placeholder="Código do estabelecimento de origem" formControlName="codigoEstabelecimentoOrigem"
        name="codigoEstabelecimentoOrigem">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>origemMarketing</mat-label>
      <input matInput placeholder="Origem do Marketing" formControlName="origemMarketing" name="origemMarketing">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>naturalidade</mat-label>
      <input matInput placeholder="Naturalidade" formControlName="naturalidade" name="naturalidade">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>nomePai</mat-label>
      <input matInput placeholder="Nome do pai" formControlName="nomePai" name="nomePai">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>nomeMae</mat-label>
      <input matInput placeholder="Nome da mãe" formControlName="nomeMae" name="nomeMae">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>profissao</mat-label>
      <input matInput placeholder="Profissão" formControlName="profissao" name="profissao">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>localTrabalho</mat-label>
      <input matInput placeholder="Local de Trabalho" formControlName="localTrabalho" name="localTrabalho">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>codigoSexo</mat-label>
      <input matInput placeholder="Código do sexo" formControlName="codigoSexo" name="codigoSexo">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>codigoEstadoCivil</mat-label>
      <input matInput placeholder="Código do estado civil" formControlName="codigoEstadoCivil" name="codigoEstadoCivil">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>codigoTipoSnaguineo</mat-label>
      <input matInput placeholder="Código do tipo sanguíneo" formControlName="codigoTipoSnaguineo"
        name="codigoTipoSnaguineo">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>codigoTipoCliente</mat-label>
      <input matInput placeholder="Código do tipo de cliente" formControlName="codigoTipoCliente"
        name="codigoTipoCliente">
    </mat-form-field>

    <div class="row">

      <mat-form-field appearance="outline">
        <mat-label>Data de Cadastro</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="dataCadastro">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Data de Atualização</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="dataAtualizacao">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <section class="example-section">
        <mat-checkbox formControlName="ativo">Ativo</mat-checkbox>
      </section>

    </div>

    <div mat-dialog-actions>
      <button mat-button (click)="cancel()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">Salvar</button>
    </div>
  </form>
</div>
