.form-group {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  width: 100%;
}

.space-blocks {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;

  div {
    padding-right: 5px;
    flex-grow: 1;
  }
}
