<h1 mat-dialog-title>Cadastrar Cliente</h1>
<div mat-dialog-content class="container">

  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.nome" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nascimento: </mat-label>
    <input type="date" matInput [(ngModel)]="data.nascimento">
  </mat-form-field>

  <mat-form-field>
    <mat-label>CPF: </mat-label>
    <input matInput [(ngModel)]="data.cpf" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Endereço: </mat-label>
    <input matInput [(ngModel)]="data.endereco">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Cidade: </mat-label>
    <input matInput [(ngModel)]="data.cidade">
  </mat-form-field>

  <mat-form-field>
    <mat-label>UF: </mat-label>
    <input matInput [(ngModel)]="data.uf">
  </mat-form-field>

  <mat-form-field>
    <mat-label>CEP: </mat-label>
    <input matInput [(ngModel)]="data.cep">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Telefone: </mat-label>
    <input matInput [(ngModel)]="data.telefone">
  </mat-form-field>

  <mat-form-field>
    <mat-label>E-Mail: </mat-label>
    <input type="email" matInput [(ngModel)]="data.email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Profissão: </mat-label>
    <input matInput [(ngModel)]="data.profissao">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Instagran: </mat-label>
    <input matInput [(ngModel)]="data.instagran">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Estado Civil</mat-label>
    <select matNativeControl [(ngModel)]="data.estadoCivilId">
      <option value="1">Solteiro(a)</option>
      <option value="2">Casado(a)</option>
      <option value="3">Divorciado(a)</option>
      <option value="4">União Estável</option>
    </select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nº Filhos: </mat-label>
    <input type="number" matInput [(ngModel)]="data.numeroFilhos">
  </mat-form-field>

  <section class="marcador">
    <p class="titulo-conheceu">Conheceu por:</p>
    <div>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.conheceuPeloFacebook">Facebook</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.conheceuPeloInstagran">Instagran</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.conheceuPelaInternet">Pela Internet</mat-checkbox>
    </div>
  </section>

  <mat-form-field>
    <mat-checkbox [(ngModel)]="data.conheceuOutros">Por indicação</mat-checkbox>
    <input matInput [(ngModel)]="data.indicacaoQuem">
  </mat-form-field>

  <mat-form-field>
    <mat-checkbox [(ngModel)]="data.conheceuOutros">Cohceu por outros</mat-checkbox>
    <input matInput [(ngModel)]="data.conheceuOutrosQual">
  </mat-form-field>

  <mat-form-field>
    <mat-checkbox [(ngModel)]="data.jaFezTratamentoEstetico">Fez tratamento estético</mat-checkbox>
    <input matInput [(ngModel)]="data.jaFezTratamentoEsteticoQual">
  </mat-form-field>

  <section class="marcador">
    <p class="titulo-conheceu">Área de interesse</p>
    <div>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.areaInteresseEsculpeDetox">Esculpe Detox</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.areaInteresseEsculpe21">Esculpe21</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.spaFacial">Spa Facial</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.spaCorporal">Spa Corporal</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.aparelhoAplicacaoAtivos">Aplicação Ativos</mat-checkbox>
    </div>
  </section>

  <section class="marcador">
    <p class="titulo-conheceu">Hábitos Alimentares</p>
    <div>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.habitosAlimentaresFritura">Fritura</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.habitosAlimentaresFruta">Fruta</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.habitosAlimentaresFarinhaBranca">Farinha Branca</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.habitosAlimentaresSemente">Semente</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.habitosAlimentaresLeite">Leite</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.habitosAlimentaresLegume">Legume</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.habitosAlimentaresDerivadoLeite">Derivado do leite</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.habitosAlimentaresVerdura">Verdura</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.habitosAlimentaresAcucar">Açúcar</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.habitosAlimentaresFarinhaIntegral">Farinha Integral</mat-checkbox>
    </div>
  </section>

  <section class="marcador">
    <p class="titulo-conheceu">Líquidos</p>
    <div>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.liquidoRefrigerante">Refrigerante</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.liquidoBebidaAlcolica">Bebida Alcóolca</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.liquidoSucoIndustrializado">Suco Industrializado</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.liquidoCha">Chá</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.liquidoSucoNatural">Suco Natural</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.liquidoChimarrao">Chimarrão</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.liquidoAgua">Água</mat-checkbox>
    </div>
  </section>

  <mat-form-field>
    <mat-label>Quantidade diária de líquido: </mat-label>
    <input type="number" matInput [(ngModel)]="data.liquidoAguaQuantidadeDiaria">
  </mat-form-field>

  <section class="marcador">
    <p class="titulo-conheceu">Atividade Física</p>
    <div>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.atividadeFisicaPraticaRegularmente">Pratica regularmente</mat-checkbox>
      <input type="number" matInput [(ngModel)]="data.atividadeFisicaPraticaRegularmenteQuantasVezesSemana">
    </div>
  </section>

  <mat-form-field>
    <mat-label>Quais atividades?</mat-label>
    <input matInput [(ngModel)]="data.atividadeFisicaPraticaRegularmenteQuaisAtividades" placeholder="Quais">
  </mat-form-field>

  <section class="marcador">
    <p class="titulo-conheceu">Atividade Física</p>
    <div>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.atividadeFisicaNaoPratica">Não pratica</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.atividadeFisicaNuncaPraticou">Nunca praticou</mat-checkbox>
    </div>
  </section>

  <section class="marcador">
    <p class="titulo-conheceu">Sono</p>
    <div>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.sonoMenos6Horas">Menos de 6 horas</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.sono6Horas">6 horas</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.sono8HorasOuMais">8 horas ou mais</mat-checkbox>
    </div>
  </section>

  <section class="marcador">
    <p class="titulo-conheceu">Funcionamento do intestino</p>
    <div>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.funcionamentoIntestinoTodosDias">Todos os dias</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.funcionamentoIntestino3MaisSemana">3 ou mais semana</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.funcionamentoIntestino1Semana">1 semana</mat-checkbox>
    </div>
  </section>

  <section class="marcador">
    <p class="titulo-conheceu">Retenção de líquido</p>
    <div>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.retencaoLiquido2Dia">2 dias</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.retencaoLiquidoMais2Dia">mais de 2 dias</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.retencaoLiquidoMais5Dia">mais de 5 dias</mat-checkbox>
    </div>
  </section>

  <section class="marcador">
    <p class="titulo-conheceu">Método contraceptivo</p>
    <div>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.metodoContraceptivoNenhum">Nenhum</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.metodoContraceptivoMirena">Mirena</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.metodoContraceptivoPilula">Pilula</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.metodoContraceptivoMenopausa">Menopausa</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.metodoContraceptivoAdesivo">Adesivo</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.metodoContraceptivoImplante">Implante</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.metodoContraceptivoDiu">Diu</mat-checkbox>
    </div>
  </section>

  <mat-form-field class="marcador">
    <mat-label>Fez alguma cirurgia? </mat-label>
    <input matInput [(ngModel)]="data.metodoContraceptivoAlgumaCirurgia">
  </mat-form-field>

  <section class="marcador">
    <p class="titulo-conheceu">Acompanhamento contínuo</p>
    <div>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.acompanhamentoContinuoCardiologista">Cardiologista</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.acompanhamentoContinuoDermatologista">Dermatologista</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.acompanhamentoContinuoNutrologo">Nutrólogo</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.acompanhamentoContinuoPsicologo">Psicólogo</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.acompanhamentoContinuoPsiquiatra">Psiquiatra</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.acompanhamentoContinuoCoach">Coach</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.acompanhamentoContinuoGinecologista">Ginecologista</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.acompanhamentoContinuoPersonalTrainer">Personal Trainner</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.acompanhamentoContinuoTraumatologista">Traumatologista</mat-checkbox>
      <mat-checkbox class="checkbox-conheceu" [(ngModel)]="data.acompanhamentoContinuoNutricionista">Nutricionista</mat-checkbox>
    </div>
  </section>

  <mat-form-field class="marcador">
    <mat-label>Faz uso de medicamento contínuo? Qual? </mat-label>
    <input matInput [(ngModel)]="data.medicamentoUsoContinuo">
  </mat-form-field>

  <mat-form-field class="marcador">
    <mat-label>Quanto tempo com peso ideal? </mat-label>
    <input matInput [(ngModel)]="data.quantoTempoPesoIdeal">
  </mat-form-field>

  <mat-form-field class="marcador">
    <mat-label>Peso atual </mat-label>
    <input type="number" matInput [(ngModel)]="data.pesoAtual">
  </mat-form-field>

  <mat-form-field class="marcador">
    <mat-label>Peso ideal </mat-label>
    <input type="number" matInput [(ngModel)]="data.pesoIdeal">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button color="primary" mat-button [mat-dialog-close]="data" cdkFocusInitial>Cadastrar</button>
</div>
