.container {
  display: flex;
  flex-direction: column;
}

.marcador {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 60px;
  padding: 10px 0;
  margin-top: 10px;
}

.titulo-conheceu {
  display: block;
}

.checkbox-conheceu {
  margin: 0 10px;
}
