<div class="container">
  <img src="../../../../assets/logo.png" class="img-fluid" alt="Phone image">
  <div>
    <form class="container-login">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Informe seu email">
        <mat-icon matSuffix color="primary">person</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Informe sua senha" type="password">
        <mat-icon matSuffix color="primary">key</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <div class="container-checkbox">
        <section>
          <mat-checkbox>Deixar preenchido</mat-checkbox>
        </section>
        <a href="#">Esqueci a senha</a>
      </div>

      <div class="container-botao">
        <button mat-flat-button color="primary">
          <i class="fab fa-facebook-f me-2"></i>
          LOGIN
        </button>
        <span>
          Ou
        </span>
      </div>

      <div class="container-icones">
        <button mat-fab color="primary">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-fab color="primary">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-fab color="primary">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
