<mat-sidenav-container class="container-menu">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/dashboard">
        <span><i class="material-icons">home</i>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/cliente">
        <span><i class="material-icons">storefront</i>Cliente</span>
      </a>
    </mat-nav-list>

    <mat-nav-list class="nav-botton">
      <a mat-list-item routerLink="/login">
        <span><i class="material-icons">exit_to_app</i>Sair</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <app-cliente-list></app-cliente-list>
  </mat-sidenav-content>
</mat-sidenav-container>
