.sidenav {
  background-color: var(--primary);
  width: 200px;
}

.sidenav span {
  color: var(--text-menu);
  display: flex;
  align-items: center;
}

.sidenav i {
  padding-right: 10px;
}

.nav-botton {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  width: 100%;
}

.content {
  padding: 16px;
  background-color: var(--body);
}
