<h1>Listagem categorias</h1>
<div class="dadosCategorias">
  <table mat-table [dataSource]="categorias" class="mat-elevation-z8 tabela">
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCell>Nome</th>
      <td mat-cell *matCellDef="let categoria">{{ categoria.nome }}</td>
    </ng-container>

    <ng-container matColumnDef="icone">
      <th mat-header-cell *matHeaderCell>Icone</th>
      <td mat-cell *matCellDef="let categoria">{{ categoria.icone }}</td>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCell>Tipo</th>
      <td mat-cell *matCellDef="let categoria"> <mat-icon>{{ categoria.tipo.nome }}</mat-icon></td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCell>Ações</th>
      <td mat-cell *matCellDef="let categoria">
        <button mat-mini-fab color="primary"><mat-icon>edit</mat-icon></button>
        <button mat-mini-fab color="warning"><mat-icon>delete_forever</mat-icon></button>
      </td>
    </ng-container>

  </table>
</div>
